<p>Title: <strong><%= @test.title %></strong></p>
<p>Level: <strong><%= @test.level %></strong></p>

<%= render partial: "questions/test-questions" %>
<br>
<%= link_to 'New question', new_test_question_path(@test) %> |
<%= link_to 'Back to tests', tests_path %>
